@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .AgentToday table {
    @apply border-spacing-x-0 border-spacing-y-[2px];
  }
  .MeetingPanelButton:hover {
    @apply bg-gray-50;
  }
  .MeetingPanelButton:active {
    @apply bg-gray-100;
  }
  .MeetingPanelButton .flex-auto {
    flex: none;
  }
}
